@model Ucommerce.Masterclass.Umbraco.Models.MiniBasketViewModel

@{
    Layout = null;
}

@if (Model.Empty)
{
    <a class="nav-link text-white">
        <i class="fa fa-shopping-cart"></i> Your shopping cart is empty
    </a>
}
else 
{
    <a class="nav-link text-white" href="/basket">
        <i class="fa fa-shopping-cart"></i> @Model.OrderTotal <span class="badge bg-light text-dark">@Model.ItemsInCart</span>
    </a>
}

