@model Ucommerce.Masterclass.Umbraco.Models.PaymentViewModel
@{
    Layout = "~/views/shared/TwoCol.cshtml";
}


<div class="row mt-4">
    <div class="col-md-6">
        <a href="/shipping">
            <button class="btn btn-secondary">Back to shipping information</button>
        </a>
    </div>
    <div class="col-md-6 text-right">
        <input type="submit" value="Preview your order" class="btn btn-primary"/>
    </div>
</div>