@{
}
<div>
    <input id="global-search" class="search" type="text" placeholder="Type to search..." class="form-control" />
</div>

<script>

document.getElementById('global-search').onkeyup = function(e) {
    if(e.key === 'Escape') {
        document.getElementById('global-search').value = "";
    }
    
    if (e.key === "Enter") {
        if (document.getElementById('global-search').value !== '') {
            top.location = "/search?query="+document.getElementById('global-search').value;
        }
    }
};

</script>
