<configuration>
    <components>
        <component id="ProductsIndexDefinition"
                   service="Ucommerce.Search.IIndexDefinition`1[[Ucommerce.Search.Models.Product, Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Masterclass.Sitefinity.Search.IndexDefinition, Ucommerce.Masterclass.Sitefinity" />
    </components>
</configuration>