<configuration>
  <components>
	  <!-- Keep port number when being redirect while using DefaultPaymentMethod -->
	  <component
		  id="AbsoluteUrlService"
		  service="Ucommerce.Web.IAbsoluteUrlService, Ucommerce"
		  type="Ucommerce.Web.Impl.AbsoluteUrlService, Ucommerce">
		  <parameters>
			  <includeLanguage>False</includeLanguage>
			  <includePort>True</includePort>
		  </parameters>
	  </component>
  </components>
</configuration>