@using System.Web.Mvc.Html

@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "_Layout.cshtml";
}

<div class="container">
    <div class="row mt-4">
    
           <div class="col-md-auto">
                @{ Html.RenderAction("CategoryNavigation", "CategoryNavigation"); }
           </div>
        <div class="col-sm">
            @RenderBody()
        </div>
    </div>
</div>