@model Ucommerce.Masterclass.Umbraco.Models.CategoryViewModel
@{
    Layout = "~/views/shared/TwoCol.cshtml";
}
<div class="row">
    <h1>@Model.Name</h1>
    
    <img src="@Model.ImageMediaUrl" />
</div>
<div class="row">
    <h2>Products in @Model.Name</h2>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    
    @foreach (var product in @Model.Products)
    {
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="product image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }
</div>