@model Ucommerce.Masterclass.Umbraco.Models.ShippingViewModel
@{
    Layout = "~/views/shared/TwoCol.cshtml";
}


<div class="row mt-4">
    <div class="col-md-6">
        <a href="/billing">
            <button class="btn btn-secondary">Back to billing information</button>
        </a>
    </div>
    <div class="col-md-6 text-right">
        <input type="submit" value="Continue to Payment" class="btn btn-primary"/>
    </div>
</div>